{% extends 'base.html' %}

{% block content %}
    <!-- <p><a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a>  <br>  {{ post.updated|date:"d-M-Y" }}</p> -->
    <p><a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a>  <br> created at {{ post.created|date:"d-M-Y" }},
        <br> updated at {{ post.updated|date:"d-M-Y" }}</p>
    <p>{{ post.body }}</p>
    {% if post.user.id == request.user.id %}
        <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Edit</a>
    {% endif %}

    <br><hr>
    <form method="post" action="" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <input value="Send" type="submit">
    </form>    
    <br><hr>

    {% for comment in comments %}
    <div class="card bg-dark text-white" style="margin:10px">
        <p class="card-header">from <a href="{% url 'account:user_profile' comment.user.id %}">{{ comment.user }}</a>  |  {{ comment.created|timesince }} ago</p>
        <p class="card-body">{{ comment.body }}</p>
    </div>
    {% empty %}
        <p> No comment yet</p>
    {% endfor %}


{% endblock %}