{% extends 'base.html' %}


{% block content %}
    <p class="text-center">{{ user.username }}</p>
    <p>age: {{ user.profile.age }}</p>
    <small>bio: {{ user.profile.bio }}</small>
    <br>
    <hr>
    {% if user.id == request.user.id %}
        <a href="{% url 'home:post_create' %}" class="btn btn-info">Created</a>
        <a href="{% url 'account:edit_user' %}" class="btn btn-primary">Edit Profile</a>
    {% else %}
        {% if is_following %}
            <a class="btn btn-danger" href="{% url 'account:user_unfollow' user.id %}">Unfollow</a>
        {% else %}
            <a class="btn btn-info" href="{% url 'account:user_follow' user.id %}">Follow</a>
        {% endif %}
    {% endif %}


    <div class="card">

        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="card-body">{{ post.body|truncatewords:8 }}</a>
        {% endfor %}
    </div>
{% endblock %}